# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.storm chaser.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Daniel\Documents\Programming\Projects\storm-chaser\storm chaser\.idea\.idea.storm chaser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
